@charset "utf-8";

/*テーマカラーの定義
---------------------------------------------------------------------------*/
:root {
    --primary-color: rgb(247, 215, 215);
}


html,body {
	height: 100%;
	font-size: 13px;	/*基準となるフォントサイズ。*/
}

	/*画面幅900px以上の追加指定*/
	@media screen and (min-width:900px) {

	html, body {
		font-size: 16px;	/*基準となるフォントサイズ。*/
	}

	}/*追加指定ここまで*/


body {
	font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	-webkit-text-size-adjust: none;
	background: #fff;	/*背景色*/
	color: #777;		/*文字色*/
	line-height: 2.5;		/*行間*/
}

/*header（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	padding: 3rem 0;	/*上下、左右へのヘッダー内の余白。remというのは文字単位の事。3remは3文字分。*/
	text-align: center;	/*内容をセンタリング*/
}

/*ロゴ*/
#logo img {
	width: 300px;	/*ロゴの幅*/
}

/*メニューブロック
---------------------------------------------------------------------------*/
#menubar ul {
	margin: 0;padding: 0;
	margin-bottom: 3rem;			/*下に空けるスペース。３文字分。*/
	display: flex;					/*flexボックスを使う指定*/
	justify-content: space-around;	/*並びかたの種類の指定*/
	border-top: 1px solid #dcaee2;		/*上の線の幅、線種、色*/
	border-bottom: 1px solid #dcaee2;	/*下の線の幅、線種、色*/
}
/*メニュー１個あたりの設定*/
#menubar li {
	flex: 1;
	text-align: center;
	list-style: none;
}
#menubar a {
	text-decoration: none;
	display: block;
	color: inherit;
	padding: 0.7rem 0.5rem;		/*上下、左右へのメニュー内の余白*/
}

/*マウスオン時*/
#menubar a:hover {
	background: var(--primary-color);	/*背景色。css冒頭で指定しているテーマカラーを読み込みます*/
	color: #fff;						/*文字色*/
}

/*お知らせブロック
---------------------------------------------------------------------------*/
#news dt {
	float : left;
	padding-left: 20px;
}
/*日付(dt)設定*/
#news dt {
	width: 8em;	/*幅。8文字(em)分*/
}

/*記事(dd)設定*/
#news dd {
	width: calc(100% - 8em);	/*「8em」は上の「.new dt」のwidthの値です*/
}

/*mainブロック内のh2*/
main h2 {
	font-size: 1.8rem;		/*文字サイズ*/
	text-align: center;		/*テキストをセンタリング*/
	letter-spacing: 0.2em;	/*文字間隔を広くする指定*/
	color: var(--primary-color);	/*文字色。css冒頭で指定しているテーマカラーを読み込みます*/
}
