@charset "utf-8";

html,body {
	height: 100%;
	font-size: 13px;	/*基準となるフォントサイズ。*/
}

	/*画面幅900px以上の追加指定*/
	@media screen and (min-width:900px) {

	html, body {
		font-size: 16px;	/*基準となるフォントサイズ。*/
	}

	}/*追加指定ここまで*/


body {
	font-family: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	-webkit-text-size-adjust: none;
	background: #fff;	/*背景色*/
	color: #777;		/*文字色*/
	line-height: 2.5;		/*行間*/
}

/*================================
メインメニュー
================================*/
ul#menu {
	width:960px;
	height:50px;
}

#menu li {
	list-style-type:none;
	display:inline;
	float:left;
}

#menu li a {
	display:block;
	width:240px;
	height:35px;
}
