body {
	font-size:80%;
	font-family: "MS ゴシック",sans-serif;
	line-height:1.5;
	color:#222222;
}

/*================================
メインメニュー
================================*/
ul#menu {
	width:960px;
	height:50px;
}

#menu li {
	list-style-type:none;
	display:inline;
	float:left;
}

#menu li a {
	display:block;
	width:240px;
	height:35px;
}
